*{
    font-family: 'Baloo Bhai 2', cursive;

}

body{
    overflow: hidden;
}
.main{

    display: flex;
    position: relative;
}

.wrapper h1{
    font-size: 50px;
    position: relative;
    top: 200px;
    text-align: left;
   

}

.wrapper p{
    font-size: 25px;
    position: relative;
    top: 200px;
    text-align: left;
}

.div1{
width: 50%;
height: 100vh;
/* background-color: #2b6777; */
background-image: url('../login.jpg');
background-repeat: no-repeat;
background-size: cover;
color: white;
}


.div2{
    width: 50%;
    background-color: #c8d8e4;
    height: 100vh;
}

.div2 form{
    position: relative;
    top: 200px;
    left: -170px;
    text-align: center;
    display: inline-block;
    background-color: white;
    padding:48px 53px 33px 53px ;
    box-shadow: 8px 9px 12px #aac1c6;
}
.username{
    width: 250px;
    height: 50px;
    background-color: #f6efef;
    outline: none;
    border: none;
    
}


.pass{
    width: 250px;
    height: 50px;
    background-color: #f6efef;
    outline: none;
    border: none;
}

.div2 form .mybtn{
    width: 250px;
    height: 50px;
    background-color: #2b6777;
    border: none;
    color: white;
}
::placeholder{
    text-indent: 10px;
}

.div2 form p a{
    text-decoration: none;
    color: #2b6777;
}
.username{
    font-size:16px;
    text-indent: 7px;
}
.pass{
    font-size: 16px;
    text-indent: 7px;
}

.main .div1{

}